[submodule ".emacs.d/github/better-jump"]
	path = .emacs.d/github/better-jump
	url = git@github.com:Fuco1/better-jump.git
	branch = master
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
