[user]
	email = hsalkaline@gmail.com
[core]
	editor = "emacs --no-desktop"
	excludesfile = ~/.gitignore
[help]
	autocorrect = 1
[push]
	default = simple
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
[color]
	ui = auto
